@import "./variables.scss";
@import "./layout.scss";
.footer {
  &_box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @include mobile {
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &_item {
    margin: 60px 0;
    @include mobile {
      margin-bottom: 0;
    }
    &:last-child {
      text-align: end;
      @include mobile {
        margin-top: 0;
        margin-bottom: 20px;
      }
    }
  }

  &_span {
    display: flex;
    white-space: nowrap;
    flex-direction: column;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--light-color);
    &:first-child {
      margin-bottom: 20px;
    }
    @include mobile {
      text-align: center;
    }
  }
}
