@import "./variables.scss";
@import "./layout.scss";
.mobile {
  position: relative;
  &_items {
    display: flex;
    gap: 0 80px;
    @include tablet {
      gap: 0 40px;
    }
    @media screen and (max-width: 640px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include small-tablet {
      gap: 0 20px;
    }
  }

  &_item {
    &:first-child {
      max-width: 525px;
      align-self: center;
      @media screen and (max-width: 640px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    &:last-child {
      margin-top: 20px;
      @media screen and (max-width: 640px) {
        padding: 0 20%;
      }
    }
  }

  &_item-title {
    margin: 0 0 30px 0;
    font-weight: 500;
    font-size: 45px;
    line-height: 110%;
    color: var(--orange-color);
    @include tablet {
      font-size: 30px;
      margin-bottom: 20px;
    }
  }

  &_item-text {
    margin: 0 0 60px 0;
    max-width: 350px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--light-color);
    @include tablet {
      margin-bottom: 40px;
    }
  }

  &_item-vectors {
    display: flex;
  }
  &_item-vector {
    display: block;
    &:first-child {
      margin-right: 20px;
    }
    &:last-child {
      @media screen and (max-width: 640px) {
        display: none;
      }
    }
  }

  &-ellipse-1 {
    position: absolute;
    z-index: -10;
    bottom: -200px;
    left: 750px;
    height: 947px;
    width: 943px;
    background: linear-gradient(
      120.02deg,
      #fc501f 12.77%,
      rgba(252, 80, 31, 0) 59.51%
    );
    opacity: 0.5;
    filter: blur(140px);
    transform: matrix(0, 1, 1, 0, 0, 0);
  }
  &-ellipse-2 {
    z-index: -10;
    width: 580px;
    height: 580px;
    position: absolute;
    bottom: -50%;
    left: -30px;
    background: linear-gradient(
      121.95deg,
      #fc1f1f 13.18%,
      rgba(252, 203, 31, 0.31) 72.93%
    );
    opacity: 0.3;
    filter: blur(140px);
    transform: rotate(-90deg);
  }
  &-line {
    width: 600px;
    z-index: -10;
    position: absolute;
    top: -250px;
    left: 1350px;
  }
}
