@import "./variables.scss";
@import "./layout.scss";
.reviews {
  margin-bottom: 110px;
  position: relative;
  &-ellipse {
    position: absolute;
    top: -320px;
    right: -300px;
    width: 950px;
    height: 950px;
    z-index: -10px;
    background: linear-gradient(
      120.02deg,
      #fc501f 12.77%,
      rgba(252, 80, 31, 0) 59.51%
    );
    opacity: 0.5;
    filter: blur(140px);
    transform: matrix(0, 1, 1, 0, 0, 0);
  }
  @include tablet {
    margin-bottom: 90px;
  }
  @include mobile {
    margin-bottom: 60px;
  }
  &-wrapper {
    padding: 0 var(--gap) !important;
    max-width: 1611px;
    margin-left: auto !important;
    margin-right: 0 !important;
  }
  &_title {
    margin: 0 0 30px 0;
    font-weight: 500;
    font-size: 45px;
    line-height: 110%;
    color: var(--orange-color);
    @include tablet {
      font-size: 30px;
      color: var(--light-color);
    }
    @include mobile {
      font-size: 25px;
    }
  }
  &_btn {
    margin-bottom: 10px;
  }
  &_container {
    margin-bottom: 30px;
  }

  &_item {
    background: var(--black-color);
    border-radius: 15px;

    max-width: 480px;
    min-width: 410px;
    @include mobile {
      min-width: 250px;
    }
  }
  &_item-wrap {
    margin: 40px;
  }

  &_item-title {
    font-size: 20px;
    line-height: 120%;
    margin: 0;
    color: var(--light-color);
  }

  &_item-line {
    margin: 20px 0;
    height: 3px;
    border: 0;
    background-color: var(--orange-color);
    width: 100px;
  }

  &_item-text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--light-color);
  }

  &_bottom {
    padding: 0 !important;
    margin-left: 0 !important;
    margin-right: auto !important;
    display: flex;
    justify-content: space-between;
  }
  &_toggle {
    display: flex;
    @include mobile {
      display: none;
    }
  }

  &_toggle-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #151515;
    width: 7px;
    height: 14px;
  }
  &_toggle-next {
    margin-left: 15px;
    & .reviews_toggle-icon {
      transform: rotate(180deg) translate(50%, 50%);
    }
  }
  &_toggle-prev,
  &_toggle-next {
    position: relative;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    background: #f1f1f1;
    cursor: pointer;
    transition: 0.4s;
    &:active {
      background: var(--orange-color);
      transition: 0.4s;
      & .reviews_toggle-icon {
        fill: #f1f1f1;
      }
    }
  }
}
