@import "./layout.scss";
.scooter {
  position: relative;
  &-ellipse {
    position: absolute;
    top: -350px;
    left: 750px;
    width: 918px;
    height: 1242px;
    background: linear-gradient(
      120.02deg,
      #ffffff 12.77%,
      rgba(255, 255, 255, 0) 57.08%
    );
    opacity: 0.2;
    filter: blur(140px);
    border-radius: 15px;
    transform: rotate(90deg);
    @include tablet{
      width: 218px;
      top: -320px;
      left: -150px;

    }
  }
  &-svg {
    position: absolute;
    top: -180px;
    right: 465px;
    width:1440px ;
    height:719 ;
    z-index: -10;
  }
  &-wrapper {
    border-radius: 15px;
    background-color: var(--black-color);
    max-width: 1260px;
    margin: 0 auto;
    padding: 60px;
    @include big-desktop {
      max-width: 1160px;
    }
    @media screen and (max-width: 1200px) {
      margin: 0 30px;
    }
    @include tablet {
      margin: 0 20px;
      padding: 40px;
    }
    @include mobile {
      padding: 20px;

      margin: 0 10px;
    }
  }
  &_box {
    display: grid;
    grid-template-columns: 1fr 1fr minmax(220px, 1fr) minmax(220px, 1fr);
    grid-template-areas: "one one two two" "three three two two";
    @include mobile {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "one one one one" "two two two two" "three three three three";
    }
  }

  &_item {
    &:nth-child(1) {
      grid-area: one;
    }
    &:nth-child(2) {
      position: relative;
      grid-area: two;
      @include mobile {
        margin: 30px 0;
      }
    }
    &:nth-child(3) {
      grid-area: three;
    }
    & .box {
      margin-bottom: 200px;
      @media screen and (max-width: 1200px) {
        margin-bottom: 150px;
      }
      @include tablet {
        margin-bottom: 100px;
      }
      @include mobile {
        margin-bottom: 0;
      }
    }
  }
  &_images {
    position: absolute;
    top: -32%;
    object-fit: contain;

    @include tablet {
      top: auto;
      bottom: 20px;
      right: -52%;
    }
    @include mobile {
      position: static;
    }
  }

  &_item-title {
    margin: 0 0 30px 0;
    font-weight: 500;
    font-size: 45px;
    white-space: nowrap;

    line-height: 110%;
    color: var(--light-color);
    @include tablet {
      font-size: 30px;
    }
    @include mobile {
      font-size: 25px;
    }
  }

  &_item-price {
    font-size: 30px;
    display: block;
    color: var(--orange-color);
    @include mobile {
      margin-top: 10px;
    }
  }

  &_item-btn {
    background-color: var(--orange-color) !important;
    color: #f1f1f1 !important;
    transition: all 0.3s ease;
    &:active {
      box-shadow: 0px 0px 10px 0px #ff4c0d !important;
    }
    @include hover {
      box-shadow: 0px 0px 10px 0px #ff4c0d !important;
    }
  }

  &_item-lists-title {
    margin-bottom: 30px;
    font-size: 20px !important;
    line-height: 120% !important;
    font-weight: 600 !important;
  }

  &_item-lists {
    position: absolute;
    top: 0;
    right: 0;
    @include tablet {
      display: none;
    }
  }

  &_item-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--light-color);
    &:not(:first-child) {
      margin-bottom: 10px;
    }
  }
}
