@import "./variables.scss";
@import "./layout.scss";
.security {
  position: relative;
  margin-bottom: 120px;

  @include mobile {
    margin-bottom: 0;
  }
  &_ellipse {
    position: absolute;
    top: 65%;
    right: 65%;
    z-index: -10;
    width: 447px;
    height: 450px;
    background: linear-gradient(
      120.02deg,
      #fc501f 12.77%,
      rgba(252, 80, 31, 0) 59.51%
    );
    opacity: 0.5;
    filter: blur(140px);
    transform: rotate(90deg);
  }
  &_title {
    font-weight: 500;
    font-size: 45px;
    line-height: 110%;
    color: var(--light-color);
    max-width: 900px;
    margin-bottom: 60px;
    @include tablet {
      font-size: 30px;
    }
    @include mobile {
      font-size: 25px;
    }
  }

  &_container {
    margin-bottom: 120px;
    @include tablet {
      margin-bottom: 90px;
    }
    @include mobile {
      margin-bottom: 60px;
    }
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include tablet {
      grid-template-areas:
        "first first second second"
        "third third fourth fourth";
    }
    @media screen and (max-width: 660px) {
      display: block;
    }
  }

  &_container-item {
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.5s ease;
    &:nth-child(1) .security_container-title {
      max-width: 160px;
    }
    &:nth-child(2) .security_container-title {
      max-width: 190px;
    }
    &:nth-child(3) .security_container-title {
      max-width: 170px;
    }

    @include tablet {
      &:nth-child(1) {
        grid-area: first;
      }
      &:nth-child(2) {
        grid-area: second;
      }
      &:nth-child(3) {
        grid-area: third;
      }
      &:nth-child(4) {
        grid-area: fourth;
      }
      &:nth-child(1) .security_container-title {
        max-width: inherit;
      }
      &:nth-child(2) .security_container-title {
        max-width: inherit;
      }
      &:nth-child(3) .security_container-title {
        max-width: inherit;
      }
    }
    @media screen and (max-width: 660px) {
      opacity: 1;
    }
  }

  &_container-title {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: var(--light-color);
    margin-bottom: 10px;
  }

  &_container-line {
    margin: 0 0 10px 0;
    border: 0;
    height: 3px;
    background: var(--light-color);
    @media screen and (max-width: 660px) {
      background: var(--orange-color);
      max-width: 33.3%;
    }
  }

  &_container-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 10px;
    @media screen and (max-width: 660px) {
      max-width: inherit;
    }
  }
  &_container-img img {
    display: none;
    border-radius: 15px;
    @media screen and (max-width: 660px) {
      display: block;
    }
  }

  &_images {
    display: flex;
    gap: 0 10px;
    @media screen and (max-width: 660px) {
      display: none;
    }
  }

  &_images-first {
    & img {
      cursor: pointer;
      border-radius: 25px;
      transition: all 0.4s ease;
      @include hover {
        transform: scale(1.05);
      }
    }
  }

  &_images-second {
    margin-left: auto;
    flex-shrink: 0.8;
    & img {
      cursor: pointer;
      border-radius: 25px;
      transition: all 0.4s ease;
      @include hover {
        transform: scale(1.05);
      }
    }
  }
}
.security_container-item-active {
  opacity: 1;
  .security_container-line {
    background: var(--orange-color);
  }
}
